*{
    margin: 0;
    padding: 0;
}

.headingStyle{
    background-color: red;
    text-align: center;
    color: white;;
    font-size: 50px;
}

.card{
    background-color: #ffda77;
    box-shadow: 2px 4px 4px gray;
    border-radius: 5px;
    margin:10px;
    padding: 10px;
    display: inline-block;
    width: 390px;
}
.cardTitle{
    text-align: center;
    margin-bottom: 5px;
}
.cardDescription{
    text-align: center;
    margin-bottom: 5px;
    text-align: left;
}
.cardFooter{
    text-align: center;
    font-weight: bold;
}